.progress-bar__90{
    animation: aumento90 10s forwards;
}
@keyframes aumento90{
    0%{width: 0;}
    100%{width: 90%}
}
.progress-bar__80{
    animation: aumento80 10s forwards;
}
@keyframes aumento80{
    0%{width: 0;}
    100%{width: 80%}
}
.progress-bar__70{
    animation: aumento70 10s forwards;
}
@keyframes aumento70{
    0%{width: 0;}
    100%{width: 70%}
}
.progress-bar__60{
    animation: aumento60 10s forwards;
}
@keyframes aumento60{
    0%{width: 0;}
    100%{width: 60%}
}
.progress-bar__50{
    animation: aumento50 10s forwards;
}
@keyframes aumento50{
    0%{width: 0;}
    100%{width: 50%}
}