/* ------------------------------------------------------------------------------
---------------------------------------------------------------------------------
-----Se manejan 2 tipos de clases,
        1)  nav-link    <- Estas son tomadas del bootstrap5
        2)  nav__abajo  <- Estas son puestas directamente por mi y corresponden a la zona que se edita.
*/

/* Pendientes

clases de colores.
img de carrucel mas pequeña 80vh
arrastrar-mas pequeño
margenes y paddings
ajustar el direccionamiento del menu


*/

/* Generales */
:root{
    --white: #ffffff;
    --grey: #A8A8A8;
    --black: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}
.text__shadow{
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.icons {
    color: var(--black);
    margin: 10px 10px 10px 0;
    transition: 0.7s;
}

.icons:hover {
    color: var(--grey);
    margin: 10px 10px 10px 0;
}
.colorAzure {
    color: var(--white);
}
.colorBlack{
    color: var(--black);
}


/* Barra de navegación */
.nav__abajo .icons {
    color: var(--white);
}

.nav__abajo .icons:hover {
    color: var(--grey);
}

.texto__centrado {
    text-align: center;
}
.navbar {
    background-color: var(--white);
    transition: 0.7s;
    height: auto;
}

.nav-link {
    color: var(--black) !important;
    transition: 0.7s !important;
}

.nav-link:hover {
    color: var(--grey) !important;
    border-bottom: 1px solid var(--grey);
}

.nav__abajo .nav-link {
    color:var(--grey) !important;
    transition: 0.7s !important;
}

.nav__abajo .nav-link:hover {
    color: var(--white) !important;
    border-bottom: 1px solid var(--grey);
}

.navbar-brand {
    color: var(--black) !important;
    transition: 0.7s !important;
    font-weight: bold;
    font-style: oblique;
}

.navbar-brand:hover {
    color: var(--grey) !important;
}

.nav__abajo .navbar-brand {
    color: var(--white) !important;
    transition: 0.7s !important;
    font-weight: bold;
}

.nav__abajo .navbar-brand:hover {
    color: var(--grey) !important;
}

.nav__abajo {
    height: auto;
    background: var(--black);
    padding: 15px 20px;
}

.navbar__icon {
    color: var(--black);
    /* transition: 0.7s; */
}

.nav__abajo .navbar__icon {
    color: var(--white);
}

.navbar-collapse {
    transition: 0.7s;
}

/* ----------------------------- */

.presentacion {
    background-image: url(../img/carousel1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.presentacion__contenido {
    color: var(--white);
    text-align: center;
}
.presentacion__titulo {
    color: var(--white);
    transition: .5s;
    /*     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 */
}

.presentacion__titulo:hover {
    color: var(--grey);
    background-color: rgba(0, 0, 0, 0.344);
    border-radius: 5px;
    padding: 10px;
}
/* Aptitudes*/
.aptitudes__lista {
    list-style: none;
    margin-bottom: 15px;
}

.aptitudes__barra {
    background-image: linear-gradient(to right, var(--grey), var(--black));
}

.aptitudes__texto {
    font-size: 13px;
    padding-right: 0 !important;
}

/* carousel */
.carrucel {
    background-image: linear-gradient(var(--black), var(--white));
}

.carrucel__textos {
    text-align: center;
    color: rgb(255, 255, 255);
}

.carrucel__btn {
    border-bottom-style: none;
    margin: 0 2px;
    padding: 7px 13px;
    background-color: rgba(0, 0, 0, 0.014);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    transition: 0.7s;
    border-radius: 15px;
}

.carrucel__btn:hover {
    background-color: var(--white);
    color: var(--black);
    transition: 0.5s;
    border-radius: 15px;
}

.carrucel__contFila {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(57, 57, 57, 0.423);
    cursor: pointer;
}
.carousel-item {
    transition: .8s !important;
}

.carousel__lista .carrucel__fila.pulsado {
    transform: scale(1.5) rotate(-1deg);
    box-shadow: 0px 0px 20px rgba(215, 216, 216, 0.16);
}

.carousel__lista .carrucel__fila.phantom {
    border: 3px;
}

.carousel__lista .carrucel__fila.arrastar {
    border: 3px;
}

/*  */
.modal {
    transition: .3s !important;
}
.modal-header{
    background-color: rgb(237, 237, 237);
    box-shadow: 0 5px 10px rgb(214, 214, 214);
}
.modal-title {
    color: var(--black);
}
.modal__texto {
    color: var(--black);
}
.modal__texto p{
    text-align: justify;
}

.modal__video {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--black);
}
/*  */

.sobreMi__foto{
    box-shadow: 0 10px 15px var(--black);
}
/* Footer */
.footer{
    background-color: rgb(43, 43, 43);
}

.footer__mapa{
    /* margin: auto; */
    height: 60%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.829);
}
footer .icons, footer h3, footer h6{
    color: var(--white);
}
.form-control{
    background-color: rgb(69, 69, 69);
    border: 1px solid  rgb(93, 93, 93);
    /* color: azure !important;  */
}
.form-control:active{
    background-color: rgb(98, 98, 98);

}
/*------------------------- Responsive -----------------------*/

@media(min-width:952px) {
    .nav-link {
        height: 2em;
    }

    .presentacion {
        padding-top: 50px;
    }
    .presentacion__contenido {
        /* padding-top: 80px; */
        background-position-y: 5px;
        height: 40rem;
    }
    .carousel-inner{
        /* height: 70vh; */
    }
}

@media(max-width:992px) {

    .presentacion,
    .presentacion__contenido {
        font-weight: 200;
        /* padding-top: 66px; */
        background-position-y: 65px;
        height: 15rem;
    }
    .carrucel__contFila {
        width: 90%;
        margin: auto;
    }
    .nav__logos {
        color: rgba(255, 255, 255, 0);
        visibility: hidden;
        position: absolute;
        transition: none;
    }
    .navbar__center {
        justify-content: center !important;
    }
    .presentacion__titulo{
        font-size: 20px;
    }
}