/* ------------------------------------------------------------------------------
---------------------------------------------------------------------------------
-----Se manejan 2 tipos de clases,
        1)  nav-link    <- Estas son tomadas del bootstrap5
        2)  nav__abajo  <- Estas son puestas directamente por mi y corresponden a la zona que se edita.
*/

/* Generales */
:root {
    --white: #ffffff;
    --grey: #A8A8A8;
    --black: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text__shadow {
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.icons {
    color: var(--black);
    margin: 10px 10px 10px 0;
    transition: 0.7s;
}

.icons:hover {
    color: var(--grey);
    margin: 10px 10px 10px 0;
}

.colorAzure {
    color: var(--white);
}

.colorBlack {
    color: var(--black);
}

.texto__centrado {
    text-align: center;
}

.texto__justificado {
    text-align: justify;
}


/* Barra de navegación */
.nav__abajo .icons {
    color: var(--white);
}

.nav__abajo .icons:hover {
    color: var(--grey);
}

.navbar {
    background-color: var(--white);
    transition: 0.7s;
    height: auto;
}

.nav-link {
    color: var(--black) !important;
    transition: 0.7s !important;
}

.nav-link:hover {
    color: var(--grey) !important;
    border-bottom: 1px solid var(--grey);
}

.nav__abajo .nav-link {
    color: var(--grey) !important;
    transition: 0.7s !important;
}

.nav__abajo .nav-link:hover {
    color: var(--white) !important;
    border-bottom: 1px solid var(--grey);
}

.navbar-brand {
    color: var(--black) !important;
    transition: 0.7s !important;
    font-weight: bold;
    font-style: oblique;
}

.navbar-brand:hover {
    color: var(--grey) !important;
}

.nav__abajo .navbar-brand {
    color: var(--white) !important;
    transition: 0.7s !important;
    font-weight: bold;
}

.nav__abajo .navbar-brand:hover {
    color: var(--grey) !important;
}

.nav__abajo {
    height: auto;
    background: var(--black);
    padding: 15px 20px;
}

.navbar__icon {
    color: var(--black);
    /* transition: 0.7s; */
}

.nav__abajo .navbar__icon {
    color: var(--white);
}

.navbar-collapse {
    transition: 0.7s;
}

/* ----------------------------- */

.presentacion {
    background-image: url(../img/ProgramadorJr.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/* Aptitudes*/
.aptitudes__lista {
    list-style: none;
    margin-bottom: 15px;
}

.aptitudes__barra {
    background-image: linear-gradient(to right, var(--grey), var(--black));
}

.aptitudes__texto {
    font-size: 13px;
    padding-right: 0 !important;
}

/* carousel */
.carrucel {
    background-image: linear-gradient(var(--black), var(--white));
}

.carousel-item {
    transition: 1s !important;
}

.card-body{
    background-color: #ebebeb;
    box-shadow: 0 10px 18px rgb(167, 167, 167);
}
.carousel-caption{
    text-shadow: 0 5px 4px var(--black);
}

/* carucel-modal */
.modal {
    transition: .3s !important;
}

.modal-header {
    background-color: rgb(237, 237, 237);
    box-shadow: 0 5px 10px rgb(173, 173, 173);
}

.modal-title {
    color: var(--black);
}

.modal__texto {
    color: var(--black);
}

.modal__texto p {
    text-align: justify;
}

.modal__video {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px var(--black);
}

/*  */

.sobreMi__foto {
    box-shadow: 0 10px 15px var(--black);
}

/* Footer */
.footer {
    background-color: rgb(43, 43, 43);
}

.footer__mapa {
    /* margin: auto; */
    height: 50%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.829);
}

footer .icons,
footer h3,
footer h6 {
    color: var(--white);
}

.form-control {
    background-color: rgb(69, 69, 69);
    border: 1px solid rgb(93, 93, 93);
    /* color: azure !important;  */
}

.form-control:active {
    background-color: rgb(98, 98, 98);

}

/*-------------------------Ajustes en Responsive -----------------------*/

@media(min-width:952px) {
    .nav-link {
        height: 2em;
    }

    .presentacion {
        padding-top: 50px;
    }

    .presentacion__contenido {
        background-position-y: 5px;
        height: 43rem;
    }
}

@media(max-width:2560px) {
    .presentacion {
        height: 65rem;
    }

}

@media(max-width:1920px) {
    .presentacion {
        height: 47rem;
    }

}

@media(max-width:1440px) {
    .presentacion {
        height: 36rem;
    }

}

@media(max-width:1024px) {
    .presentacion {
        height: 27rem;
    }

    .footer-row {
        padding-top: 5rem;
    }
}

@media(max-width:992px) {

    .presentacion {
        height: 25rem;
        background-position-y: 65px;
    }

    .carrucel__contFila {
        width: 90%;
        margin: auto;
    }

    .nav__logos {
        color: rgba(255, 255, 255, 0);
        visibility: hidden;
        position: absolute;
        transition: none;
    }

    .navbar__center {
        justify-content: center !important;
    }

}

@media(max-width:768px) {
    .presentacion {
        height: 24rem;
    }

    .footer-row {
        padding-top: 5rem;
    }
}

@media(max-width:520px) {
    .presentacion {
        height: 15rem;
    }

    .footer-row {
        padding-top: 5rem;
    }
}

/* Animaciones */
.progress-bar__90 {
    animation: aumento90 10s forwards;
}

@keyframes aumento90 {
    0% {
        width: 0;
    }

    100% {
        width: 90%
    }
}

.progress-bar__80 {
    animation: aumento80 10s forwards;
}

@keyframes aumento80 {
    0% {
        width: 0;
    }

    100% {
        width: 80%
    }
}

.progress-bar__70 {
    animation: aumento70 10s forwards;
}

@keyframes aumento70 {
    0% {
        width: 0;
    }

    100% {
        width: 70%
    }
}

.progress-bar__60 {
    animation: aumento60 10s forwards;
}

@keyframes aumento60 {
    0% {
        width: 0;
    }

    100% {
        width: 60%
    }
}

.progress-bar__50 {
    animation: aumento50 10s forwards;
}

@keyframes aumento50 {
    0% {
        width: 0;
    }

    100% {
        width: 50%
    }
}